html {
  background: #222;
  font-family: sans-serif;
  color: #fff;
  text-shadow: 2px 2px 0 #000;
  height: 100%;
}
html, body {
  width: 100%;
  height: 100%;
}
html, body, canvas {
  margin: 0;
  padding: 0;
}
canvas {
  background: #000;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1c0001+0,230003+68,6d0019+100 */
background: #1c0001; /* Old browsers */
background: -moz-linear-gradient(top,  #1c0001 0%, #230003 68%, #6d0019 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1c0001 0%,#230003 68%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1c0001 0%,#230003 68%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c0001', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#info {
  margin: 0; padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: default;
  opacity: 0.7;
}

#info li {
  list-style: none;
  background: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  color : #fff;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
  font-size: 10px;
  margin: 1px 0;
}

#info li .health {
  background: black;
  height: 4px;
  display: block;
  margin: 4px 0;
}
  
#info li .health-bar {
  height: 4px;
  background: green;
  display: block;
  width: 100%;
}

#info li.killed {
  opacity: 0.3;
}

.screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;


  user-select: none;
  -webkit-user-select: none;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hidden {
  display: none;
}

#setup {

}

#gameplay {}